@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,500,700&display=swap&subset=greek-ext');

$default-font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;

//Font sizes
$default-font-size: 14px;
$font-size-tiny: (9/14 * 1rem);
$font-size-xxxs: (10/14 * 1rem);
$font-size-xxs: (11/14 * 1rem);
$font-size-xs: (12/14 * 1rem);
$font-size-s: (14/14 * 1rem);
$font-size-m: (16/14 * 1rem);
$font-size-l: (20/14 * 1rem);
$font-size-xl: (24/14 * 1rem);
$font-size-xxl: (36/14 * 1rem);

//Line height
$default-line-height: 1;