.login {
    display: flex;
    flex-direction: column;
    background-color: $primary-color;
    height: 100vh;
    background-image: url("/src/assets/images/login-bg.jpg"); //TODOs
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet {
        flex-direction: row;
    }

    &__graphic-section{
        flex: 1;
        width: 100%;
        overflow: hidden;
        position: relative;

        // clip-path: circle(100% at 50% -70%);
        // @include tablet{
        //     clip-path: circle(80% at left);
        // }
        // @include laptop{
        //     clip-path: circle(95% at left);
        // }
        // @include desktop{
        //     clip-path: circle(100% at left);
        // }
        img {
            max-width: 80%;
            position: relative;
            top: -50%;
            display: block;
            margin: -40px auto;
        }

        &:before {
            content:''; 
            display: block;
            height: 100%;
            border-radius: 0 0 50% 50%;
            box-shadow: 0 0 0 50vw rgba(10, 40, 41, $opacity-xl), inset 0 0 15px #000;
            @include tablet {
                border-radius: 0 50% 50% 0;
            }
        }
    }
    &__input-section{
        color: $color-white;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        background-color: rgba(10, 40, 41, $opacity-xl);

        &__title{
            margin: 0;
        }

        &__form{
            display: flex;
            flex-direction: column;
            input{
                border: none;
                border-bottom: 1px solid $light-secondary-color;
                background-color: transparent;
                margin-bottom: $space-xl;
                outline: none;
                color: $color-white;
                padding-bottom: $space-s;
                &::placeholder {
                    color: $color-white;
                    opacity: $opacity-l; 
                }
            }

            &__input{
                position: relative;
                &__icon{
                    position: absolute;
                    width: 12px;
                    right: 0px;
                    top: 2px;
                }
            }
        }
        &__error-msg{
            position: absolute;
            top: 5%;
            color: red;
            font-size: $font-size-xxs;
        }
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
